<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Tarabdaar uses Bluetooth to send MIDI to the Mac wirelessly (BLE-MIDI).</string>
	<key>NSMotionUsageDescription</key>
	<string>Tarabdaar uses device motion to control sound parameters through tilting.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
